.sass-cache/*
public/
tmp/*
bin/
doc/
misc/
config_ftp_dropbox.json
config_ftp_dropbox_prod.json
config_port_to_staging.json
old_binaries/
target/
.idea/
.settings/
.checkstyle
.classpath
.project
DataSync.iml
*~