<li><a href="{{ site.baseurl }}/">Getting Started</a></li>

<li class="nav-header dropdown-header">General Guides</li>
<li><a href="{{ site.baseurl }}/guides/quick-start.html">Quick Start (GUI)</a></li>
<li><a href="{{ site.baseurl }}/guides/setup-standard-job.html">Setup a Standard Job (GUI)</a></li>
<li><a href="{{ site.baseurl }}/guides/setup-standard-job-headless.html">Setup a Standard Job (Headlessly)</a></li>
<li><a href="{{ site.baseurl }}/guides/setup-port-job.html">Setup a Port Job (GUI)</a></li>
<li><a href="{{ site.baseurl }}/guides/setup-port-job-headless.html">Setup a Port Job (Headlessly)</a></li>

<li class="nav-header dropdown-header">Additional Resources</li>
<li><a href="{{ site.baseurl }}/resources/control-config.html">Control File Config</a></li>
<li><a href="{{ site.baseurl }}/resources/preferences-config.html">Preferences Config</a></li>
<li><a href="{{ site.baseurl }}/resources/schedule-job.html">Scheduling a Job</a></li>
<li><a href="{{ site.baseurl }}/resources/checking-log.html">Checking Logs</a></li>
<li><a href="{{ site.baseurl }}/resources/faq-common-problems.html">FAQ / Common Problems</a></li>
<li><a href="{{ site.baseurl }}/resources/network-considerations.html">Network Considerations</a></li>
<li><a href="{{ site.baseurl }}/resources/conditions-restrictions.html">Data Conditions &amp; Restrictions</a></li>
<li><a href="{{ site.baseurl }}/resources/using-map-fields-dialog.html">Using the Map Fields Dialog</a></li>

<li class="nav-header dropdown-header">Developer Guides</li>
<li><a href="{{ site.baseurl }}/guides/datasync-library-sdk.html">DataSync Library/SDK (Java)</a></li>
<li><a href="{{ site.baseurl }}/guides/compiling-on-windows-eclipse.html">Compiling on Windows (with Eclipse)</a></li>
<li><a href="{{ site.baseurl }}/guides/compiling-with-maven.html">Compiling with Maven</a></li>